*{
    font-family: Arial, sans-serif;
    margin: 0;

}

body {

   background-color: #242424;

}

.container-main {
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.699);
    background-color: #c08e3d;
}

.section-input {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    appearance: none;
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: aliceblue;
    padding: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.699);
    margin-top: 5px;
}

.text-below {
    font-size: 15px;
}

.text-error {
    margin-top: 20px;
    text-align: center;
    color: red;
}

input[type="submit"]{
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.699);
    font-size: 15px;
    color: #242424;
    background-color: aliceblue;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}